<div id="edit-company" class="container-fluid">
    <div class="bs-docs-section">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-header">
                    <h3 id="forms">{{#if this.company_name}} editing: {{this.company_name}} | {{this.company_www}} {{else}} add new site {{/if}}</h3>
                </div>
            </div>
        </div>

        <!--edit company information-->
        <div class="row">
            <div class="col-lg-12">
                <div class="well bs-component">
                    <form id="edit-company-form" class="form-horizontal">
                        <fieldset>
                            <legend>company information</legend>
                            <div class="form-group">
                                <label for="company_name" class="col-lg-2 control-label">name</label>
                                <div class="col-lg-10">
                                    {{input type="text" class="form-control" id="company_name" valueBinding="company_name" placeholder="" }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="company_address" class="col-lg-2 control-label">address</label>
                                <div class="col-lg-10">
                                    {{input type="text" class="form-control" id="company_address" value=this.company_address placeholder="" }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="company_suite" class="col-lg-2 control-label">suite</label>
                                <div class="col-lg-10">
                                    {{input type="text" class="form-control" id="company_suite" value=this.company_suite placeholder="" }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="company_city" class="col-lg-2 control-label">city</label>
                                <div class="col-lg-10">
                                    {{input type="text" class="form-control" id="company_city" value=this.company_city placeholder="" }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="company_state" class="col-lg-2 control-label">state</label>
                                <div class="col-lg-10">
                                    {{view Ember.Select value=this.company_state class="form-control" name="company_state" content=us_states optionValuePath="content.val" optionLabelPath="content.label" }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="company_zipcode" class="col-lg-2 control-label">zipcode</label>
                                <div class="col-lg-10">
                                    {{input type="text" class="form-control" id="company_zipcode" value=this.company_zipcode placeholder="#####-####" }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="company_country" class="col-lg-2 control-label">country</label>
                                <div class="col-lg-10">
                                    {{input type="text" class="form-control" id="company_country" value=this.company_country placeholder="United States" }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="company_email" class="col-lg-2 control-label">email</label>
                                <div class="col-lg-10">
                                    {{input type="text" class="form-control" id="company_email" value=this.company_email placeholder="info@mycompany.com" }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="company_phone" class="col-lg-2 control-label">phone</label>
                                <div class="col-lg-10">
                                    {{input type="text" class="form-control" id="company_phone" value=this.company_phone placeholder="555-555-5555" }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="company_fax" class="col-lg-2 control-label">fax</label>
                                <div class="col-lg-10">
                                    {{input type="text" class="form-control" id="company_fax" value=this.company_fax placeholder="555-555-5555" }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="company_www" class="col-lg-2 control-label">website</label>
                                <div class="col-lg-10">
                                    {{input type="text" class="form-control" id="company_www" value=this.company_www placeholder="www.mycompany.com" }}
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-lg-10 col-lg-offset-2">
                                    <button class="btn btn-default">cancel</button>
                                    <button {{action 'doneEditing'}} class="btn btn-primary">update</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>

        <!--upload a logo-->
        <div class="row">
            <div class="col-lg-12">
                <div class="well bs-component">
                    <form id="upload-logo" class="form-horizontal">
                        <fieldset>
                            <legend>upload company logo</legend>
                            <div class="form-group">
                                <div class="col-lg-10 col-lg-offset-1">
                                    <span class="btn btn-default btn-file">
                                        <label for="company_logo">{{#if this.company_logo}} change file {{else}} choose file {{/if}}</label>
                                        <input type="file" id="company_logo">
                                    </span>
                                    {{#if this.company_logo}}
                                        <span class="btn-file-selected"><span class="pull-right upload-logo"><img {{bind-attr src=this.company_logo}} alt="Logo"></span></span>
                                    {{else}}
                                        <span class="btn-file-selected">No file selected</span>
                                    {{/if}}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-10 col-lg-offset-2">
                                    <button class="btn btn-default">cancel</button>
                                    <button type="submit" class="btn btn-primary">update</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>

        <!--color pickers-->
        <div class="row">
            <div class="col-lg-12">
                <div class="well bs-component">
                    <form id="color-pickers" class="form-horizontal">
                        <fieldset>
                            <legend>customize web colors</legend>
                            <div class="form-group">
                                <label for="color_header" class="col-lg-2 control-label">header color</label>
                                <div class="col-lg-10">
                                    <div data-color-format="rgb" data-color="rgb(110, 33, 57)" class="input-append colorpicker-default color">
                                        {{input value=this.color_header type="text" placeholder="#6e2139" class="form-control"}}
                                        <span class="input-group-btn add-on color-picker-btn">
                                            <button class="btn btn-white" type="button"><i style="background-color: rgb(124, 66, 84);"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="text_color" class="col-lg-2 control-label">text color</label>
                                <div class="col-lg-10">
                                    <div data-color-format="rgb" data-color="rgb(255, 146, 180)" class="input-append colorpicker-default color">
                                        {{input value=this.color_text type="text" placeholder="#FF92B4" class="form-control"}}
                                        <span class="input-group-btn add-on color-picker-btn">
                                            <button class="btn btn-white" type="button"><i style="background-color: rgb(255, 146, 180);"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="color_link" class="col-lg-2 control-label">link color</label>
                                <div class="col-lg-10">
                                    <div data-color-format="rgb" data-color="rgb(255, 146, 180)" class="input-append colorpicker-default color">
                                        {{input value=this.color_link type="text" placeholder="#FF92B4" class="form-control"}}
                                        <span class="input-group-btn add-on color-picker-btn">
                                            <button class="btn btn-white" type="button"><i style="background-color: rgb(255, 146, 180);"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-10 col-lg-offset-2">
                                    <button class="btn btn-default">cancel</button>
                                    <button type="submit" class="btn btn-primary">update</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
         </div>

        <!--edit chat link embed-->
        <div class="row">
            <div class="col-lg-12">
                <div class="well bs-component">
                    <form id="edit-chat-link" class="form-horizontal">
                        <fieldset>
                            <legend>customer support chat</legend>
                            <div class="form-group">
                                <label for="chat_link" class="col-lg-2 control-label">embed</label>
                                <div class="col-lg-10">
                                    {{textarea class="form-control" value=this.chat_link placeholder="html"}}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-10 col-lg-offset-2">
                                    <button class="btn btn-default">cancel</button>
                                    <button type="submit" class="btn btn-primary">update</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>

        <!--edit billing information-->
        <div class="row">
            <div class="col-lg-12">
                <div class="well bs-component">
                    <form id="edit-billing-form" class="form-horizontal">
                        <fieldset>
                            <legend>edit billing information</legend>
                            <div class="form-group">
                                <label for="billing_address" class="col-lg-2 control-label">address</label>
                                <div class="col-lg-10">
                                    {{input type="text" class="form-control" value=this.billing_address placeholder=""}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="billing_suite" class="col-lg-2 control-label">suite</label>
                                <div class="col-lg-10">
                                    {{input type="text" class="form-control" value=this.billing_suite placeholder=""}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="billing_city" class="col-lg-2 control-label">city</label>
                                <div class="col-lg-10">
                                    {{input type="text" class="form-control" value=this.billing_city placeholder=""}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="billing_state" class="col-lg-2 control-label">state</label>
                                <div class="col-lg-10">
                                    {{view Ember.Select value=this.billing_state class="form-control" name="billing_state" content=us_states optionValuePath="content.val" optionLabelPath="content.label" }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="billing_zipcode" class="col-lg-2 control-label">zipcode</label>
                                <div class="col-lg-10">
                                    {{input type="text" class="form-control" value=this.billing_zipcode placeholder="#####-####"}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="billing_country" class="col-lg-2 control-label">country</label>
                                <div class="col-lg-10">
                                    {{input type="text" class="form-control" id="billing_country" value=this.billing_country placeholder="United States" }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="billing_email" class="col-lg-2 control-label">email</label>
                                <div class="col-lg-10">
                                    {{input type="text" class="form-control" value=this.billing_email placeholder="billing@mycompany.com"}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="billing_phone" class="col-lg-2 control-label">phone</label>
                                <div class="col-lg-10">
                                    {{input type="text" class="form-control" value=this.billing_phone placeholder="555-555-5555"}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="billing_fax" class="col-lg-2 control-label">fax</label>
                                <div class="col-lg-10">
                                    {{input type="text" class="form-control" value=this.billing_fax placeholder="555-555-5555"}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="billing_net" class="col-lg-2 control-label">net billing</label>
                                <div class="col-lg-10">
                                    {{view Ember.Select value=this.net_billing class="form-control" name="net_billing" content=this.net_billings optionValuePath="content.val" optionLabelPath="content.label" prompt="please select"}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="checkout_method" class="col-lg-2 control-label">checkout method</label>
                                <div class="col-lg-10">
                                    {{view Ember.Select value=this.checkout_method class="form-control" name="checkout_method" content=this.checkout_methods prompt="please select"}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="renewal_factoring" class="col-lg-2 control-label">renewal factoring</label>
                                <div class="col-lg-10">
                                    {{view Ember.Select value=this.renewal_factoring class="form-control" name="renewal_factoring" content=this.renewal_factorings optionValuePath="content.val" optionLabelPath="content.label" prompt="please select"}}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-10 col-lg-offset-2">
                                    <button class="btn btn-default">cancel</button>
                                    <button type="submit" class="btn btn-primary">update</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>


    </div><!--end bs-docs-->
</div><!--end container-->