<div id="edit-company" class="container-fluid">
    <div class="bs-docs-section">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-header">
                    <h3 id="forms">corporate tools</h3>
                </div>
            </div>
        </div>

        <!--tools list-->
        <div class="row">
            <div class="col-lg-12">
                <div class="well bs-component">
                    {{#each}}
                        {{#if this.routeName}}
                            <li>{{#link-to this.routeName}}{{this.routeLabel}}{{/link-to}}</li>
                        {{else}}
                            <li>{{this.routeLabel}}</li>{{/if}}
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
 </div>